    * {
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        padding-left: 0;
    }
    
    li {
        padding: 1rem;
        border: solid 1px rgb(15, 89, 150);
        border-radius: 1.5rem;
        box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.221);
        text-align: center;
        margin: 2rem 2rem;
    }